.DS_Store
DerivedData
Lilu.kext
VirtualSMC.kext
xcuserdata
xcshareddata
project.xcworkspace
build
.idea
.vscode
.svace-dir
cov-int
/MacKernelSDK

# Ignore other random ACPI files
*.aml
*.dsl

# ACPI tables (Dumped from Clover) 
!ACPI-Gram/*

# ACPI tables (Custom SSDT)
!GramSMC/*.dsl

# Reference projects
YogaSMC-Reference/
AsusSMC-Reference/

## didnt know gitignore was sequential LMAO 